<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.android.zakaria.notesapp">
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning"
        android:fullBackupContent="true">
        <activity
            android:name=".activities.SplashScreenActivity"
            android:theme="@style/AppTheme.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.CreateOrShowNoteActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activities.TrashActivity"
            android:label="@string/trash_label"
            android:parentActivityName=".activities.MainActivity" />
        <activity
            android:name=".activities.CreatePatternLockActivity"
            android:theme="@style/AppThemePatternLock" />
        <activity
            android:name=".activities.InputPatternActivity"
            android:theme="@style/AppThemePatternLock" />
        <activity android:name=".activities.MainActivity" />
        <activity android:name=".activities.PatternAndOtherSettingActivity"
            android:label="@string/settings"
            android:parentActivityName=".activities.MainActivity"/>
    </application>

</manifest>